<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/changePassword.css" />
    <title>change-password</title>
</head>

<body>
    <div>
        <h1>change-password</h1>
        <input type="password" id="password" />Password<br>
        <button id="sumbit">sumbit</button><br>
    </div>
    <script>
        var sumbit = document.getElementById('sumbit')

        sumbit.addEventListener('click', changePassword)

        async function changePassword(e) {
            e.preventDefault()
            var password = document.getElementById('password').value
            const changepassword = await fetch('/change-password', {
                method: 'post',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    newpassword: password,
                    token: localStorage.getItem('token')
                })
            }).then((res) => res.json())
            if (login.status === 'ok') {
                // everything went fine
                alert('sucess')
            } else {
                alert(changepassword.err)
            }
        }

    </script>

</body>

</html>