<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
</head>

<body>
    <div>
        <h1>Login</h1>
        <input type="text" placeholder="enter the username" id="username" />Username<br>
        <input type="password" id="password" />Password<br>
        <button id="sumbit">sumbit</button><br>
    </div>
    <script>
        var sumbit = document.getElementById('sumbit')

        sumbit.addEventListener('click', login)

        async function login(e) {
            e.preventDefault()
            var username = document.getElementById('username').value
            var password = document.getElementById('password').value
            const login = await fetch('/userlogin/login', {
                method: 'post',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ username, password })
            }).then((res) => res.json())
            // console.log(login)
            if (login.status === 'ok') {
                // everything went fine
                console.log('Got the token', login.data)
                localStorage.setItem('token', login.data)
                alert('sucess')
            } else {
                alert('register your self ')
            }
        }

    </script>

</body>

</html>