<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
</head>

<body>
    <div>
        <h1>Login</h1>
        <input type="text" placeholder="enter the username" id="username" /><br>
        <input type="password" id="password" /><br>
        <button id="sumbit">sumbit</button><br>
    </div>
    <script>
        var username = document.getElementById('username')
        var password = document.getElementById('password')
        var sumbit = document.getElementById('sumbit')

        sumbit.addEventListener('click', login)

        function login(e) {
            e.preventDefault()

        }

    </script>

</body>

</html>