<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/registration.css" />
    <title>Registration</title>
</head>

<body>
    <div class="registration">
        <h1>CREATE ACCOUNT</h1>
        <div class="registrationForm">
            <input type="text" autocomplete="off" placeholder=" Name" id="name" /><br>
            <input type="text" placeholder="Number" id="number" /><br>
            <input type="email" placeholder="Email" id="email" /><br>
            <input type="text" placeholder="Username" id="username" /><br>
            <input type="password" id="password" placeholder="Password" /><br>
            <div>
                <input type="checkbox" name="term and condition">
                <label>I agree to the Terms of Service and Privacy Policy</label>
            </div>

        </div>
        <button id="sumbit">Sign up </button><br>
        <div>
            <span>Aready have an Account <a href="/login">Sign in</a></span>
        </div>
    </div>
    <script>
        var sumbit = document.getElementById('sumbit')

        sumbit.addEventListener('click', registration)
        //send the data as json (when we are using the js) htis is use as node 
        //send the data as urlencode (when we are using the js) this is use as  php as use as default
        async function registration(e) {
            e.preventDefault()
            var name = document.getElementById('name').value;
            var username = document.getElementById('username').value;
            var email = document.getElementById('email').value;
            var number = document.getElementById('number').value;
            var password = document.getElementById('password').value;
            const result = await fetch('/registration', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ name, username, email, number, password, })

            }).then((res) => res.json())
            console.log(result)
            if (result.status === 'ok') {
                // everything went fine
            } else {
                alert(result.err)
            }
        }

    </script>
</body>

</html>